<script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>
<div rows>
	<div cols="col-md-12 col-sm-12 col-xs-12">
		<div class="container-fluid popupDialog">
			<div class="panel panel-primary"">
				<div class="panel-heading">
					<h3 class="panel-title">Add User</h3>
				</div>
				<div class="panel-body panel-noPadding">
					<!--  Accordian start -->
						<uib-accordion close-others="oneAtATime"> 
						<uib-accordion-group
							heading="Primary user data" is-open="true" is-disabled="false"
							template-url="group-template.html">
						<div class="rows">
							<div class="col-md-7 col-sm-7 col-xs-7 panel-noPadding">
								<form class="form-horizontal">
									<div class="form-group form-group-sm">
										<label for="inputFirstName" class="control-label col-xs-4">First
											Name*</label>
										<div class="col-xs-8">
											<input type="text" class="form-control"
												placeholder="Enter your first name">
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label for="middleName" class="control-label col-xs-4">Middle
											Name*</label>
										<div class="col-xs-8">
											<input type="text" class="form-control"
												placeholder="Enter your middle name">
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label for="lastName" class="control-label col-xs-4">Last
											Name*</label>
										<div class="col-xs-8">
											<input type="text" class="form-control"
												placeholder="Enter your last name">
										</div>
									</div>

									<div class="form-group form-group-sm">
										<label for="inputEmail" class="control-label col-xs-4">Email</label>
										<div class="col-xs-8">
											<input type="email" class="form-control" id="inputEmail"
												placeholder="Email">
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label class="col-xs-4 control-label">Timezone</label>
										<div class="col-xs-8">
											<select class="form-control" name="browsers">
												<option value="+530">India(delhi,chennai,kolkata)</option>
												<option value="-1730">US east</option>
											</select>
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label class="col-xs-4 control-label">Role*</label>
										<div class="col-xs-8">
											<select class="form-control" name="browsers">
												<option value="Administrator">Administrator</option>
												<option value="Administrative-Co-ordinator">Administrative-Co-ordinator</option>
												<option value="Proctor">Proctor</option>
											</select>
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label for="inputEmail" class="control-label col-xs-4">External UserId</label>
										<div class="col-xs-8">
											<input type="email" class="form-control" id="inputEmail"
												placeholder="Email">
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label for="inputEmail" class="control-label col-xs-4">Group</label>
										<div class="col-xs-8">
											<input type="email" class="form-control" id="inputEmail"
												placeholder="Email">
										</div>
									</div>

								</form>
							</div>
							<div class="col-md-5 col-sm-5 col-xs-5">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Group selector</h3>
									</div>
									<div class="panel-body"></div>
								</div>
							</div>

						</div>

						</uib-accordion-group> 
			<uib-accordion-group heading="Contact information" template-url="group-template.html">
						<form class="form-horizontal">
							<div class="form-group form-group-sm">
										<label for="inputFirstName" class="control-label col-xs-4">Address line 1</label>
										<div class="col-xs-8">
											<input type="text" class="form-control"
												placeholder="Enter your first name">
										</div>
							</div>
							<div class="form-group form-group-sm">
										<label for="inputFirstName" class="control-label col-xs-4">Address line 2</label>
										<div class="col-xs-8">
											<input type="text" class="form-control"
												placeholder="Enter your first name">
										</div>
							</div>
							<div class="form-group form-group-sm">
										<label for="inputFirstName" class="control-label col-xs-4">City</label>
										<div class="col-xs-8">
											<input type="text" class="form-control"
												placeholder="Enter your first name">
										</div>
							</div>
							<div class="form-group form-group-sm">
										<label for="inputFirstName" class="control-label col-xs-4">State</label>
										<div class="col-xs-8">
											<select class="form-control" name="browsers">
												<option value="Missouri">Missouri</option>
												<option value="West Verginia">West Verginia</option>
											</select>
										</div>
							</div>
							<div class="form-group form-group-sm">
										<label for="inputFirstName" class="control-label col-xs-4">Zip</label>
										<div class="col-xs-8">
											<input type="text" class="form-control"
												placeholder="Enter your first name">
										</div>
							</div>
						</form>
						
						</uib-accordion-group> </uib-accordion>
					
					<!-- Accordian end -->
					<div class="modal-footer">
						<button class="btn button" ng-click="ok()">Okay</button>
						<button class="btn button" ng-click="cancel()">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>