<script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading" style="padding: 0px;">
        <h4 class="panel-title" style="color:#fa39c3;background:linear-gradient(#E8E8E8,#5d5d5d);color:#fff;font-weight:bold;padding:0px;margin:0px;height:21px;">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right;padding-bottom: 1px;height:339px;" ng-transclude></div>
      </div>
    </div>
  </script>
<div rows>
<form class="form-horizontal" name="createUserDetail" ng-submit="createUser()">
	<div cols="col-md-12 col-sm-12 col-xs-12">
		<div class="container-fluid popupDialog">
			<div class="panel panel-default popup-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Add User</h3>
				</div>
				<div class="panel-body panel-noPadding popup-panelbody">
					<!--  Accordian start -->
					
						<uib-accordion close-others="true"> <uib-accordion-group
							heading="Primary user data" is-open="true" is-disabled="false"
							template-url="group-template.html">
						<div class="rows">
							<div class="col-md-6 col-sm-6 col-xs-6 panel-noPadding">

								<div class="form-group form-group-sm popup-formgrp ">
									<label for="inputFirstName"
										class="control-label col-xs-4 popup-frmLabel">First
										Name*</label>
									<div class="col-xs-8 popup-frmInput">
										<input type="text" class="form-control"
											placeholder="Enter your first name" ng-model="user.firstName" ng-required="true" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('First Name is mandatory')">
									</div>
								</div>
								<div class="form-group form-group-sm popup-formgrp">
									<label for="middleName"
										class="control-label col-xs-4 popup-frmLabel">Middle
										Name</label>
									<div class="col-xs-8 popup-frmInput">
										<input type="text" class="form-control"
											placeholder="Enter your middle name" 
											ng-model="user.middleName">
									</div>
								</div>
								<div class="form-group form-group-sm popup-formgrp">
									<label for="lastName"
										class="control-label col-xs-4 popup-frmLabel">Last
										Name*</label>
									<div class="col-xs-8 popup-frmInput">
										<input type="text" class="form-control"
											placeholder="Enter your last name"
											ng-model="user.lastName" ng-required="true" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Last Name is mandatory')">
									</div>
								</div>

								<div class="form-group form-group-sm popup-formgrp">
									<label for="inputEmail"
										class="control-label col-xs-4 popup-frmLabel">Email*</label>
									<div class="col-xs-8 popup-frmInput">
										<input type="email" class="form-control" 
												placeholder="Enter email" ng-model="user.email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Email is mandatory')">
									</div>
								</div>
								<div class="form-group form-group-sm popup-formgrp">
									<label class="col-xs-4 control-label popup-frmLabel">Timezone</label>
									<div class="col-xs-8 popup-frmInput">
										<select name="timezone" class="form-control"
											ng-model="user.timezone" ng-options='timezone as timezone.label for timezone in user.timezones track by timezone.timezoneId'>
										</select>
									</div>
								</div>
								<div class="form-group form-group-sm popup-formgrp">
									<label class="col-xs-4 control-label popup-frmLabel">Role*</label>
<!-- 									<div class="col-xs-8 popup-frmInput"> -->
<!-- 										<select class="form-control ng-valid ng-dirty" ng-model="user.sample" ng-options='item.text for item in user.list track by item.key' -->
<!-- 										ng-required="true" > -->
<!-- 										</select> -->
<!-- 									</div> -->
									<div class="col-xs-8 popup-frmInput">
										<select class="form-control ng-valid ng-dirty" ng-model="user.role" ng-options='role as role.label for role in user.roles track by role.id'
										ng-required="true" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Role selection is mandatory')">
										</select>
									</div>
								</div>
								
								<div class="form-group form-group-sm popup-formgrp">
									<label for="inputEmail"
										class="control-label col-xs-4 popup-frmLabel">External
										UserId</label>
									<div class="col-xs-8 popup-frmInput">
										<input type="text" class="form-control" 
											placeholder="External user id" ng-model="user.extUserId">
									</div>
								</div>
								<div class="form-group form-group-sm popup-formgrp">
									<label for="inputEmail"
										class="control-label col-xs-4 popup-frmLabel">Group*</label>
									<div class="col-xs-8 popup-frmInput">
										<input type="text" class="form-control" 
											placeholder="enter organization group" ng-model="user.groupId" ng-required="true" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Group selection is mandatory')">
									</div>
								</div>
<!-- 					</form> -->
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 div-grpselector">
					<div class="panel panel-default">
						<div class="panel-heading popup-panelgrphead">
							<h3 class="panel-title popup-panelgrptitle">Group selector</h3>
						</div>
						<div class="panel-body popup-panelgrpbody"></div>
					</div>
				</div>

			</div>

			</uib-accordion-group>
			<uib-accordion-group heading="Contact information"
				template-url="group-template.html">
<!-- 			<form class="form-horizontal"> -->
				<div class="form-group form-group-sm popup-formgrp">
					<label for="inputFirstName"
						class="control-label col-xs-4 popup-frmLabel">House No/Building No
						1</label>
					<div class="col-xs-8 popup-frmInput">
						<input type="text" class="form-control" ng-model="user.addressLine1"
							placeholder="Please enter house no/Flat no">
					</div>
				</div>
				<div class="form-group form-group-sm popup-formgrp">
					<label for="inputFirstName"
						class="control-label col-xs-4 popup-frmLabel">Address line
						2</label>
					<div class="col-xs-8 popup-frmInput">
						<input type="text" class="form-control" ng-model="user.addressLine2"
							placeholder="Please enter street name">
					</div>
				</div>
				<div class="form-group form-group-sm popup-formgrp">
					<label for="inputFirstName"
						class="control-label col-xs-4 popup-frmLabel">City</label>
					<div class="col-xs-8 popup-frmInput">
						<input type="text" class="form-control" ng-model="user.city"
							placeholder="Enter city name">
					</div>
				</div>
				<div class="form-group form-group-sm popup-formgrp">
					<label for="inputFirstName"
						class="control-label col-xs-4 popup-frmLabel">State</label>
					<div class="col-xs-8 popup-frmInput">
						<select class="form-control" name="browsers" placeholder="Please select state" ng-model="user.state">
							<option value="Missouri">Missouri</option>
							<option value="West Verginia">West Verginia</option>
						</select>
					</div>
				</div>
				<div class="form-group form-group-sm popup-formgrp">
					<label for="inputFirstName"
						class="control-label col-xs-4 popup-frmLabel">Zip</label>
					<div class="col-xs-8 popup-frmInput">
						<input type="text" class="form-control" ng-model="user.zip"
							placeholder="Enter your first name"> 

					</div>
				</div>
				<div class="form-group form-group-sm popup-formgrp">
					<label class="col-xs-4">Primary Phone number</label>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="000" ng-model="user.primaryPhone1"> 
					</div>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="000" ng-model="user.primaryPhone2"> 
					</div>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="1234" ng-model="user.primaryPhone3"> 
					</div>
					<div class="col-xs-2 popup-frmInput">
						 <input type="text" class="form-control" placeholder="1234" ng-model="user.primaryExtn">
					</div>
				</div>
				<div class="form-group form-group-sm popup-formgrp">
					<label class="col-xs-4">Secondary Phone number</label>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="000" ng-model="user.secondaryPhone1"> 
					</div>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="000" ng-model="user.secondaryPhone2"> 
					</div>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="1234" ng-model="user.secondaryPhone3"> 
					</div>
					<div class="col-xs-2 popup-frmInput">
						 <input type="text" class="form-control" placeholder="1234" ng-model="user.secondaryExtn">
					</div>
				</div>
				<div class="form-group form-group-sm popup-formgrp">
					<label class="col-xs-4">Fax</label>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="000" ng-model="user.fax1"> 
					</div>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="000" ng-model="user.fax2"> 
					</div>
					<div class="col-xs-2 popup-frmInput">
						<input type="text" class="form-control" placeholder="1234" ng-model="user.fax3"> 
					</div>
					
				</div>
			</uib-accordion-group>
			</uib-accordion>

			

			<!-- Accordian end -->

		</div>
		<div class="modal-footer popup-panelfooter">
			<input type="submit" value="Save" class="btn button"></input>
			<button class="btn button" ng-click="cancel()">Cancel</button>
		</div>
		</form>
	</div>
</div>
</div>
</div>