<nav class="navbar navbar-inverse">
	<div class="container-fluid" style="height: 55px;">
		<!--  Header item -->
		<div class="navbar-header">
			<a href="#" class="navbar-brand" style="padding: 2px;"> <img
				alt="" src="img/logo.jpg" style="width: 92px;">
			</a>
		</div>
		<!--  Menu items -->
		<div class="collapse navbar-collapse" id="mainNavBar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Link</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Session <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Create Session</a></li>
						<li><a href="#">Another action</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right"
				style="padding-right: 7px; padding-top: 2px;">
				<li><button type="button" class="btn btn-default"
						style="background-color: #b6b6b6; border-color: #fefffe; width: 80px;">Logout</button></li>
			</ul>
			<ul class="nav navbar-nav navbar-right"
				style="padding-right: 7px; padding-top: 2px;">
				<li><button type="button" class="btn btn-success" ng
						style="background-color: #b6b6b6; border-color: #fefffe; width: 80px;"
						data-toggle="modal" data-target="#loginPopup">Login</button></li>
			</ul>
		</div>
	</div>
	</div>
</nav>