<nav class="navbar navbar-inverse">
		<div class="container-fluid" style="height: 55px;">
			<!--  Header item -->
			<div class="navbar-header">
				<a href="#" class="navbar-brand" style="padding: 2px;"> <img
					alt="" src="img/logo.jpg" style="width: 92px;">
				</a>
			</div>
			<!--  Menu items -->
			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Session <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Create Session</a></li>
							<li><a href="#">Another action</a></li>

						</ul></li>
				</ul>

				<ul class="nav navbar-nav navbar-right"
					style="padding-right: 7px; padding-top: 2px;">
					<li><button type="button" class="btn btn-default"
							style="background-color: #b6b6b6; border-color: #fefffe; width: 80px;">Logout</button></li>

				</ul>
				<ul class="nav navbar-nav navbar-right"
					style="padding-right: 7px; padding-top: 2px;">
					<li><button type="button" class="btn btn-success" ng
							style="background-color: #b6b6b6; border-color: #fefffe; width: 80px;"
							data-toggle="modal" data-target="#loginPopup">Login</button></li>

				</ul>

			</div>


		</div>

		</div>

		
	</nav>
	<div id="wrapper">
		<div class="nav-side-menu" id="sidebar-wrapper"
			style="margin-top: -17px;">
			<!-- 			<div class="brand">Brand Logo</div> -->
			<!-- 			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" -->
			<!-- 				data-target="#menu-content"></i> -->

			<div class="menu-list">

				<ul id="menu-content" class="menu-content collapse out">

					<li data-toggle="collapse" class="collapsed"
						data-target="#submenu-assignments"><a href="#"> <i
							class="fa fa-dashboard fa-lg"></i> Assignments <span
							class="arrow"></span>
					</a></li>
					<ul class="sub-menu collapse" id="submenu-assignments">
						<li class="active"><a href="#">Manage Sessions</a></li>
						<li><a href="#">Program Status</a></li>
						<li><a href="#">Register Students</a></li>
					</ul>


					<li data-toggle="collapse" data-target="#submenu-groups"
						class="collapsed active"><a href="#"><i
							class="fa fa-gift fa-lg"></i> Groups <span class="arrow"></span></a>
					</li>
					<ul class="sub-menu collapse" id="submenu-groups">
						<li class="collapsed active" data-toggle="collapse"
							data-target="#submenu-managestudents"><a href="#">Manage
								Students <span class="arrow"></span>
						</a></li>
						<ul class="sub-menu collapse" id="submenu-managestudents">
							<li style="background-color: #949494">Student List</li>
							<li style="background-color: #949494">Move Students</li>
							<li style="background-color: #949494">Will Not/Didnot Test</li>
						</ul>

						<li><a href="#">Manage Users</a></li>
						<li><a href="#">Manage Hierarchy</a></li>
					</ul>


					<li data-toggle="collapse" data-target="#service" class="collapsed">
						<a href="#"><i class="fa fa-globe fa-lg"></i> Reports <span
							class="arrow"></span></a>
					</li>
					<ul class="sub-menu collapse" id="service">
						<li>Workstation Setup</li>
						<li>User/Student Load</li>
						<li>Manage License</li>
					</ul>
				</ul>
			</div>
		</div>
		<!-- Sidebar End -->
        <!-- Page content -->
		<div id="page-content-wrapper" style="padding-top: 15px; top: 58px;">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-1"
						style="padding-bottom: 0px; margin-top: -11px; margin-bottom: 6px;">

						<a id="menu-toggle" class="btn btn-primary" href="#"
							style="padding: 1px; width: 30px; height: 30px;"> <img
							src="img/toggle-btn.png" alt=""
							style="margin-left: 0px; width: 26px;">
						</a>
					</div>
				</div>
				<div class="row">
					<!--  left group selector -->
					<div class="col-md-2 col-sm-2 col-xs-2" id="group-selector">
						<div class="panel panel-primary"
							style="max-height: 400px; min-height: 400px;">
							<div class="panel-heading">
								<h3 class="panel-title">Group Selector</h3>
							</div>
							<div class="panel-body">
								
							</div>
						</div>
					</div>
					<!-- right main content -->
					<div class="col-md-10 col-sm-10 col-xs-10"
						style="padding-left: 3px; padding-right: 3px;">

						<div class="panel panel-primary"
							style="max-height: 400px; min-height: 400px;">
							<div class="panel-heading">
								<h3 class="panel-title">User list</h3>
							</div>
							<div class="panel-body">

								<div class="row">
									<div class="col-lg-12"
										style="border-top-width: 0px; margin-top: -12px;">

										
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				
		</div>
		</div>
	
	</div>


	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("menuDisplayed");

		});
	</script>
	