<div id="screen" class="container-fluid searchTable">
	<div class="panel">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>Last Name</td>
							<td>First Name</td>
							<td>Login ID</td>
							<td>Role</td>
							<td>Email</td>
							<td>Group</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>

						</tr>
						<tr>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>

						</tr>
						<tr>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>
							<td>Test</td>

						</tr>

					</tbody>

				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div id="button-group" class="btn-toolbar well">
					<div class="btn-group">
						<a class="btn" href="#" ui-sref="base.user.create"><i
							class="fa fa-plus-square"></i></a> <a class="btn" href="#"><i
							class="fa fa-pencil-square"></i></a> <a class="btn" href="#"><i
							class="fa fa-search"></i></a> <a class="btn" href="#"><i
							class="fa fa-trash"></i></a> <a href="" ng-click="showNumberFct()"
							ng-init="showNumber = false"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>